<!DOCTYPE html>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ Director.Name }}</mat-card-title>
    <mat-card-subtitle>
      <p *ngIf="Director.Birth">Born: {{ Director.Birth }}</p>
      <p *ngIf="Director.Death">Died: {{ Director.Death }}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ Director.Bio }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="closeDialog()">
      Close
    </button>
  </mat-card-actions>
</mat-card>
